*{
    padding: 0;
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #121439;
}



.header{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px;
    width: 100%;
    

    position: fixed;
   
    /* background-image: linear-gradient(90deg, #1f8cf9, #7a40f8, #1f8cf9);   */
 
    background-size: 400% 400%;

    animation: headerAnimation 8s linear infinite;

    
}

@keyframes headerAnimation {
    0% { background-position: 0% 50%; }
    100% { background-position: 130% 50%; }
}

.logo {
    padding-left: 40px
}


.nav-items {
    display: flex;
    padding-right: 40px;
    align-content: flex-end;
    gap: 20px; 
    
}

nav a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    
}

h1 {
    color: #fff;
    padding-top: 80px;
    text-align: center;
    
}


.project-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.project-gallery img {
    object-fit: cover;
    padding: 20px 20px;

    max-width: 350px;
    
}

.arduino-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* To stack images and videos vertically, if needed */
}

.arduino-images img {
    width: 40%;
    height: 20%;
    margin: 20px 0; /* Optional: add space around images */
}

.arduino-images video {
    width: 40%;
    height: auto;
    margin: 20px 0; /* Optional: add space around videos */
}

.vex-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vex-images video {
    width: 60%;
    height: auto;
}

